<header class="global-header">
  <div class="container h-full flex justify-between items-center gap-x-4">
    <div class="brand-logo">
      <a href="/" class="flex items-center gap-x-2 no-underline">
        <img class="w-12 h-12" src="/image/logo.png" alt="" />
        <span class="text-sm md:text-base font-bold">{{ site.name }}</span>
      </a>
    </div>

    <div class="flex justify-end items-center flex-shrink md:hidden">
      <div
        class="drawer-button"
        role="button"
        aria-expanded="false"
        aria-controls="drawer-menu-panel"
      >
        <div class="drawer-button__bars">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </div>
</header>
