<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include 'ogp.njk' %}
    <link rel="stylesheet" href="/style/style.css" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description or site.description }}" />
  </head>
  <body class="prose max-w-none flex flex-col h-screen bg-gray-50">
    {% include "header.njk" %}
    <div
      class="container grid grid-cols-1 md:grid-cols-12 grid-flow-col gap-x-16 pt-8 mb-auto"
    >
      <div class="col-span-3 hidden md:block">
        <nav class="side-menu">
          <ul>
            {% for navItem in site.pages %}
            <li>
              <a href="{{navItem.path }}">{{navItem.title}}</a>
            </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
      <main class="md:col-span-9">{{ content | safe }}</main>
    </div>

    {% include "footer.njk" %}
    <div
      class="drawer-menu w-screen h-screen z-20 bg-white bg-opacity-95 fixed top-0 left-0"
      id="drawer-menu-panel"
      aria-hidden="true"
    >
      <div class="container pt-20">{% include "menus.njk" %}</div>
    </div>
    <script src="/script/global.js"></script>
  </body>
</html>
