:root {
  font-size: var(--size-font);
}

.youtube {
  width: 100%;
  aspect-ratio: 16 / 9;
}
.youtube iframe {
  width: 100%;
  height: 100%;
}

.drawer-menu {
  @apply transition-transform duration-300;
  &[aria-hidden="true"] {
    @apply translate-y-full;
  }
  &[aria-hidden="false"] {
    @apply translate-y-0;
  }
}
